{% extends "base.html" %}

{% block title %}Общая статистика{% endblock %}

{% block content %}
  <h2>Динамика уровня зарплат по годам</h2>

  <table border="1" style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="width: 50%; padding: 8px; border: 1px solid black;">{{ second_parameter }}</th>
        <th style="width: 50%; padding: 8px; border: 1px solid black;">{{ first_parameter }}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td style="padding: 8px; border: 1px solid black;">{{ row.second }}</td>
        <td style="padding: 8px; border: 1px solid black;">{{ row.first }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
