{% extends "base.html" %}
{% load static %}
{% block title %}Общая статистика{% endblock %}
{% block content %}
  <h2>Последние вакансии</h2>
  <ol class="vacancies-list">
    {% for vacancy in vacancies %}
    <li>
      <h3>{{ vacancy.name }}</h3>
      <p>{{ vacancy.salary.message }}</p>
      <p>{{ vacancy.description|safe }}</p>
      <p>Навыки: {{ vacancy.key_skills }}</p>
      <p>Компания: {{ vacancy.employer }}</p>
      <p>Город: {{ vacancy.area }}</p>
      <p>Дата публикации: {{ vacancy.published_at }}</p>
    </li>
    {% endfor %}
  </ol>
{% endblock %}